/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #0d0d2b; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #abaaaa;
    display: block;
    padding-left: 30px;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav-logo{
    padding-left: 40px;
  }
  .sidenav-items{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  .top-bar {
    display: flex;
    margin-top: 20px;
    margin-left: 310px;
    height: 60px;
    width: 75%;
    background-color: #0d0d2b;
    border-radius: 10px;
  }

  .top-bar-star{
    display: flex;
    height: 20px;
    padding-left: 100px;
    padding-top: 20px;
    padding-right: 30px;
  }
  
  .search-box{
    display: flex;
    height: 40px;
    padding-top: 10px;
    size: 50;
    margin-right: 200px;

  
  }
  
  .search-box input[type="text"] {
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
    background-color: #0d0d2b;
    color: white;
  }

  .top-bar-icons{
    display: flex;
    margin-top: 22px;
    height: 15px;
  }